{% extends "dinosaurs/base.html" %}
{% load static %}

{% block title %}
My Favorite Dinos
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "dinosaurs/favorite-posts.css" %}">
{% endblock %}

{% block content %}
    <section id="favorite-posts">
        {% if not has_posts %}
            <p>You don't have any favorite Dinos.</p>
        {% endif %}
        <ul>
            {% for post in posts %}
                <li><a href="{% url "post-detail-page" post.slug %}">{{ post.name }}</a> </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}